---
title: Research
date: 2015-11-29 21:00:03
layout: page
---
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
  <div class="col-md-12 col-sm-12">
    <div class="content-page">
      <div class="filter-v1">
	<ul class="mix-filter">
	  <li data-filter="all" class="filter active">All</li>
	  <li data-filter="category_1" class="filter">PHY-layer</li>
	  <li data-filter="category_6" class="filter">TCP Scheduling</li>
	  <li data-filter="category_2" class="filter">Cellular Networks</li>
	  <li data-filter="category_3" class="filter">Vehicular Networks</li>
	  <li data-filter="category_4" class="filter">Smart Grid and EV</li>
	  <li data-filter="category_5" class="filter">Data and Networking Privacy</li>
	</ul>
	<div class="row mix-grid thumbnails">
	  <div class="col-md-4 col-sm-6 mix category_1 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="../metronic/assets/pages/img/works/img1.jpg" class="img-responsive">
	      <div class="mix-details">
		<h3>Heterogeneous modulation PNC</h3>
		<p>Primary research member: Haoyuan Zhang</p>
		<a href="http://www.ece.uvic.ca/~cai/twc16-pnc.pdf" class="mix-link" ><i class="fa fa-file-pdf-o"></i></a>
		<a title="PNC" href="#project1" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>           
	      <div class="mix-info container">
		<h2>Heterogeneous modulation PNC</h2>
		<p>Primary research member: Haoyuan Zhang</p>
		<a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
	      </div>               
	    </div>                       
	  </div>

	   <div class="col-md-4 col-sm-6 mix category_1 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="../metronic/assets/pages/img/works/img1-2.jpg" class="img-responsive">
	      <div class="mix-details">
		<h3>Hierachical modulation PNC</h3>
		<p>Primary research member: Haoyuan Zhang</p>
		<a class="mix-link"><i class="fa fa-file-pdf-o"></i></a>
		<a title="PNC" href="#project1-2" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>           
	      <div class="mix-info container">
		<h2>Hierachical modulation PNC</h2>
		<p>Physical layer network coding</p>
		<a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
	      </div>               
	    </div>                       
	  </div>

	  <div class="col-md-4 col-sm-6 mix category_2 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="../metronic/assets/pages/img/works/img2.jpg" class="img-responsive">
	      <div class="mix-details">
		<h4>D2D Network Coding</h4>
		<p>Primary research member: Yue Li</p>
		<a class="mix-link"><i class="fa fa-file-pdf-o"></i></a>
		<a title="Project Name" href="#project2" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>               
	      <div class="mix-info container">
		<h2>D2D Network Coding</h2>
		<p>Primary research member: Yue Li</p>
		<a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
	      </div>               
	    </div>                    
	  </div>

	  <div class="col-md-4 col-sm-6 mix category_2 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="../metronic/assets/pages/img/works/img2-2.jpg" class="img-responsive">
	      <div class="mix-details">
		<h4>Other Cellular Network Issues</h4>
		<p>Cell planning issues, 3-D floating Relay</p>
		<p>Primary research member: Yue Li</p>
		<a class="mix-link"><i class="fa fa-file-pdf-o"></i></a>
		<a title="Project Name" href="#project2-2" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>               
	      <div class="mix-info container">
		<h2>Other Cellular Network Issues</h2>
		<p>Primary research member: Yue Li</p>
		<a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
	      </div>               
	    </div>                    
	  </div>

	  <div class="col-md-4 col-sm-6 mix category_3 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="../metronic/assets/pages/img/works/img3.jpg" class="img-responsive">
	      <div class="mix-details">
		<h4>Data Dissemination in Vehicular Networks</h4>
		<p>Data delivery delay analysis, scheduling and routing and Road Side Unit deployment</p>
		<p>Primary research member: Dr. Jianping He, Yuanzhi Ni</p>
		<a class="mix-link"><i class="fa fa-file-pdf-o"></i></a>
		<a title="Project Name" href="#project3" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>               
	      <div class="mix-info container">
		<h2>Data Dissemination in Vehicular Networks</h2>
		<p>Primary research member: Dr. Jianping He, Yuanzhi Ni</p>
		<a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
	      </div>               
	    </div>                    
	  </div>

	  <div class="col-md-4 col-sm-6 mix category_4 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="../metronic/assets/pages/img/works/img4.jpg" class="img-responsive">
	      <div class="mix-details">
		<h4>Smart Grid (Electricity Market)</h4>
		<p>Optimal Investment for Retail Company in Electricity Market</p>
		<p>Primary research member: Dr. Yongmin Zhang</p>
		<a class="mix-link"><i class="fa fa-file-pdf-o"></i></a>
		<a title="Project Name" href="#project4" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>               
	      <div class="mix-info container">
		<h2>Smart Grid (Electricity Market)</h2>
		<p>Primary research member: Dr. Yongmin Zhang</p>
		<a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
	      </div>               
	    </div>                    
	  </div>

	  <div class="col-md-4 col-sm-6 mix category_4 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="../metronic/assets/pages/img/works/img4-2.jpg" class="img-responsive">
	      <div class="mix-details">
		<h4>EV Charging</h4>
		<p>Optimal pricing for Charging Station with Dual Charging Modes</p>
		<p>Primary research member: Dr. Yongmin Zhang, Zhe Wei</p>
		<a class="mix-link"><i class="fa fa-file-pdf-o"></i></a>
		<a title="Project Name" href="#project4-2" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>               
	      <div class="mix-info container">
		<h2>EV Charging</h2>
		<p>Primary research member: Dr. Yongmin Zhang, Zhe Wei</p>
		<a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
	      </div>               
	    </div>                    
	  </div>

	  <div class="col-md-4 col-sm-6 mix category_5 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="../metronic/assets/pages/img/works/img5.jpg" class="img-responsive">
	      <div class="mix-details">
		<h4>Data and Networking Privacy</h4>
		<p>Private and Accurate Data Aggregation against Dishonest Nodes, Inference Attack by Social Relations and Network Characteristics</p>
		<p>Primary research member: Dr. Jianping He, Jiayi Chen</p>
		<a class="mix-link"><i class="fa fa-file-pdf-o"></i></a>
		<a title="Project Name" href="#project5" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>               
	      <div class="mix-info container">
		<h2>Data and Networking Privacy</h2>
		<p>Private and Accurate Data Aggregation against Dishonest Nodes, Inference Attack by Social Relations and Network Characteristics</p>
		<p>Primary research member: Dr. Jianping He, Jiayi Chen</p>
		<a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
	      </div>               
	    </div>                    
	  </div>

	  <div class="col-md-4 col-sm-6 mix category_6 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="../metronic/assets/pages/img/works/img6.jpg" class="img-responsive">
	      <div class="mix-details">
		<h4>Throughput-Optimal Wireless Scheduling</h4>
		<p>Primary research member: Yi Chen</p>
		<a class="mix-link"><i class="fa fa-file-pdf-o"></i></a>
		<a title="Project Name" href="#project6" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>               
	      <div class="mix-info container">
		<h2>Throughput-Optimal Wireless Scheduling</h2>
		<p>Primary research member: Yi Chen</p>
		<a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
	      </div>               
	    </div>                    
	  </div>

	  <div class="col-md-4 col-sm-6 mix category_5 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="../metronic/assets/pages/img/works/img7.jpg" class="img-responsive">
	      <div class="mix-details">
		<h4>Consensus-based Application in CPS</h4>
		<p>Primary research member: Dr. Jianping He</p>
		<a class="mix-link"><i class="fa fa-file-pdf-o"></i></a>
		<a title="Project Name" href="#project5" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>               
	      <div class="mix-info container">
		<h2>Consensus-based Application in CPS</h2>
		<p>Primary research member: Dr. Jianping He</p>
		<a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
	      </div>               
	    </div>                    
	  </div>

	  <!--div class="col-md-4 col-sm-6 mix category_5 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="../metronic/assets/pages/img/works/img3.jpg" class="img-responsive">
	      <div class="mix-details">
		<h4>Cascusamus et iusto odio</h4>
		<p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores.</p>
		<a class="mix-link"><i class="fa fa-file-pdf-o"></i></a>
		<a title="Project Name" href="#project8" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div> 
	      <div class="mix-info container">
		<h2>Project Name</h2>
		<p>Lorem ipsum dolor sit amet, dolore eiusmod quis tempor
		incididunt ut et dolore Ut veniam unde nostrudlaboris. Sed unde
		omnis iste natus error sit voluptatem.</p>
		<div class="row quote-v1 margin-bottom-30">
		  <div class="col-md-7 quote-v1-inner">
		    <span>Lorem ipsum dolor sit amet, consectetuer adipiscing tempor</span>
		  </div>
		  <div class="col-md-5 quote-v1-inner text-right">
		    <a href="javascript:;" class="btn-transparent"><i class="fa fa-rocket margin-right-10"></i>Adipiscing</a>
		    <a href="javascript:;" class="btn-transparent"><i class="fa fa-gift margin-right-10"></i>Get it FREE</a>
		  </div>
		</div>
		<div class="row front-lists-v2 margin-bottom-15">
		  <div class="col-md-6">
		    <ul class="list-unstyled">
		      <li><i class="fa fa-html5"></i> HTML5/CSS3</li>
		      <li><i class="fa fa-bell"></i> Web Deisgn</li>
		      <li><i class="fa fa-globe"></i> Web Development</li>
		      <li><i class="fa fa-shopping-cart"></i> Shoping Cart</li>
		    </ul>
		  </div>
		  <div class="col-md-6">
		    <ul class="list-unstyled">
		      <li><i class="fa fa-dropbox"></i> Free Storage</li>
		      <li><i class="fa fa-cloud"></i> Cloud Hosting</li>
		      <li><i class="fa fa-comments"></i> Free Support</li>
		      <li><i class="fa fa-star"></i> Awesome UI</li>
		    </ul>
		  </div>
		</div>
		<a class="btn btn-lg btn-primary" style="color: white;" href="javascript:;"> Visit Project</a>
		<a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
	      </div>               
	    </div>                                       
	  </div-->
	</div>
      </div>
    </div>
  </div>
</div>
