---
title: People
date: 2015-11-17 01:00:51
layout: page
---
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">

	<div class="col-md-3">
	    <div class="thumbnail" style="width:250px;height:312px;">
              <img src='../metronic/assets/pages/img/people/img2-large.jpg' >
       </div>
    </div>
    <div class="col-md-9">
	      <h3>
		<a href="http://ece.uvic.ca/~cai/"><strong>Dr. Lin Cai</strong></a> 
		<small>Lab Leader</small>
	      </h3>
	      <p>Lin Cai received her M.A.Sc. and PhD degrees (awarded Outstanding Achievement in Graduate Studies) in electrical and computer engineering from the University of Waterloo, Waterloo, Canada, in 2002 and 2005, respectively. Since 2005, she has been with the Department of Electrical &amp; Computer Engineering at the University of Victoria, and she is currently a Professor. Her research interests span several areas in wireless communications and networking, with a focus on network protocol and architecture design supporting emerging multimedia traffic over wireless, mobile, ad hoc, and sensor networks. She has been a recipient of the NSERC Discovery Accelerator Supplement Grants twice, in 2010 and 2015, respectively, and the best paper awards of IEEE ICC 2008 and IEEE WCNC 2011. She has served as a TPC symposium co-chair for IEEE Globecom'10 and Globecom'13, and an Associate Editor for IEEE Transactions on Wireless Communications, IEEE Transactions on Vehicular Technology, EURASIP Journal on Wireless Communications and Networking, International Journal of Sensor Networks, and Journal of Communications and Networks (JCN).</p>
	</div>
	<hr>
  <!-- BEGIN CONTENT -->
  <div class="col-md-12 col-sm-12">
    <div class="content-page">
      <div class="row margin-bottom-40">

      <div class="row front-team">

		<div class="col-md-3">
		<h2>Postdoctoral Research Fellow</h2>
		</div>
		<div class="row front-team col-md-9">
		<ul class="list-unstyled">
	  		<li class="col-md-4">
	    	<div class="thumbnail">
              	<img src='../metronic/assets/pages/img/people/img_jphe.jpg'>
	      	<h3>
				<a href="http://web.uvic.ca/~jphe"><strong>Dr. Jianping He</strong></a>
				<small>Postdoctoral Research Fellow</small>
	      	</h3>
	      	
	    	</div>
	  		</li>
	  		<li class="col-md-4">
	    	<div class="thumbnail">
              	<img src='../metronic/assets/pages/img/people/img_ymz.jpg'>
	      	<h3>
				<a href="http://web.uvic.ca/~ymzhang"><strong>Dr. Yongmin Zhang</strong></a>
				<small>Postdoctoral Research Fellow</small>
	      	</h3>
	      	
	    	</div>
	  		</li>
		</ul>            
      </div>
      </div>


      <div class="row front-team">

		<div class="col-md-3">
		<h2>Ph.D Students</h2>
		</div>
		<div class="row front-team col-md-9">
		<ul class="list-unstyled">
	  		<li class="col-md-4">
	    	<div class="thumbnail">
              	<img src='../metronic/assets/pages/img/people/img_yi.jpg'>
	      	<h3>
				<strong>Yi Chen</strong> 
				<small>Ph.D Candidate</small>
	      	</h3>
	      	
	    	</div>
	  		</li>
	  		<li class="col-md-4">
	    	<div class="thumbnail">
              	<img src='../metronic/assets/pages/img/people/img_hy.jpg'>
	      	<h3>
				<strong>Haoyuan Zhang</strong> 
				<small>Ph.D Candidate</small>
	      	</h3>
	      	
	    	</div>
	  		</li>
	  		<li class="col-md-4">
	    	<div class="thumbnail">
              	<img src='../metronic/assets/pages/img/people/img_zhe.jpg'>
	      	<h3>
			<strong>Zhe Wei</strong> 
			<small>Ph.D Candidate</small>
	      	</h3>
	      	
	    	</div>
	  		</li>
	  		<li class="col-md-4">
	    	<div class="thumbnail">
              	<img src='../metronic/assets/pages/img/people/img_li.jpg'>
	      	<h3>
			<strong>Yue Li</strong> 
			<small>Ph.D Student</small>
	      	</h3>
	      	
	    	</div>
	  		</li>

	  		<li class="col-md-4">
	    	<div class="thumbnail">
              	<img src='../metronic/assets/pages/img/people/img_wencui.jpg'>
	      	<h3>
			<strong>Wen Cui</strong> 
			<small>Ph.D Student</small>
	      	</h3>
	      	
	    	</div>
	  		</li>

	  		<li class="col-md-4">
	    	<div class="thumbnail">
              	<img src='../metronic/assets/pages/img/people/img_hamed.jpg'>
	      	<h3>
			<strong>Hamed Mosavat</strong> 
			<small>Ph.D Student</small>
	      	</h3>
	    	</div>
	  		</li>
	  		
		</ul>            
      </div>
      </div>


      <div class="row front-team">

		<div class="col-md-3">
		<h2>M.A.Sc Students</h2>
		</div>
		<div class="row front-team col-md-9">
		<ul class="list-unstyled">
	  		<li class="col-md-4">
	    	<div class="thumbnail">
              	<img src='../metronic/assets/pages/img/people/img_jychen.jpg'>
	      	<h3>
				<a href="http://web.uvic.ca/~jychen21/"><strong>Jiayi Chen</strong></a>
				<small>M.A.Sc Student</small>
	      	</h3>
	      	
	    	</div>
	  		</li>
	  		<li class="col-md-4">
	    	<div class="thumbnail">
              	<img src='../metronic/assets/pages/img/people/img_mo.jpg'>
	      	<h3>
				<strong style="font-size:18px">Mohammad Ghasemiahmadi</strong> 
				<small>M.A.Sc Student</small>
	      	</h3>
	      	
	    	</div>
	  		</li>
	  		
		</ul>            
      </div>
      </div>

		<div class="row front-team">

		<div class="col-md-3">
		<h2>Visiting Scholars</h2>
		</div>
		<div class="row front-team col-md-9">
		<ul class="list-unstyled">
	  		<li class="col-md-4">
	    	<div class="thumbnail">
              	<img src='../metronic/assets/pages/img/people/img_feng.jpg'>
	      	<h3>
				<strong>Dr. Guangsheng Feng</strong> 
				<small>Visiting Scholar</small>
	      	</h3>
	      	
	    	</div>
	  		</li>
	  		<li class="col-md-4">
	    	<div class="thumbnail">
              	<img src='../metronic/assets/pages/img/people/img_cuie.jpg'>
	      	<h3>
				<strong>Dr. Cuie Zheng </strong> 
				<small>Visiting Scholar</small>
	      	</h3>
	      	
	    	</div>
	  		</li>

			<li class="col-md-4">
	    	<div class="thumbnail">
              	<img src='../metronic/assets/pages/img/people/img_cho.jpg'>
	      	<h3>
				<a href="http://faculty.nptu.edu.tw/~cho/"><strong>Dr. Chia-Ho Ou </strong></a>
				<small>Visiting Scholar</small>
	      	</h3>
	      	
	    	</div>
	  		</li>

	  		<li class="col-md-4">
	    	<div class="thumbnail">
              	<img src='../metronic/assets/pages/img/people/img_yzni.jpg'>
	      	<h3>
			<a href="http://web.uvic.ca/~yzni/"><strong>Yuanzhi Ni</strong></a> 
			<small>Visiting Ph.D Student</small>
	      	</h3>
	      	
	    	</div>
	  		</li>
		</ul>            
      </div>
      </div>

      <div class="row front-team hidden">

		<div class="col-md-3">
		<h2>Distinguished Alumni</h2>
		</div>
		<div class="row front-team col-md-9">
		<ul class="list-unstyled">
	  		<li class="col-md-4">
	    	<div class="thumbnail">
              	<img src='../metronic/assets/pages/img/people/img_kan.jpg'>
	      	<h3>
				<strong>Dr. Kan Zhou</strong> 
				<small>Distinguished Alumni</small>
	      	</h3>
	      	
		</ul>            
      </div>
      </div>


    </div>
  </div>
  <hr>
<div><strong>Recent Alumni</strong></div>
<div>
<ul>
<li>Min Xing (Ph.D 2015, employed by Fortinet)</li>
<li><a href="http://web.uvic.ca/~kzhou/">Kan Zhou</a> (Ph.D 2015, employed by Fortinet)</li>
<li>Lei Zheng (Ph. D 2014, employed by Ericsson)</li>
<li>Xuan Wang (Ph. D 2014, employed by Ericsson)</li>
<li>Siyuan Xiang (Ph.D 2013, employed by Fortinet)</li>
<li>Yuanqian Luo (Ph.D 2013, employed by Alcatel Lucent)</li>
<li>Zhe Yang (Ph.D 2013, now an Associate Professor at Northwestern Polytechnical University, Xi'an, China)<br /><a href="http://cn.ece.uvic.ca/people.html#yang"></a></li>
<li>Vivek Tiwari (M.A.Sc 2012, now working at Vineyard Networks)</li>
<li>Ahmad Ali Abdullah (Ph.D 2011, now working at Systems Xcellence Inc.)</li>
<li>Bojiang Ma (M.A.Sc 2011, now Ph.D student at University of British Columbia)</li>
<li>Ivan Zhang (Ph.D 2010, now Associate Professor at Northwestern Polytechnical University, Xi'an, China)</li>
<li>Haoling Ma (M.A.Sc 2010)</li>
<li>Emad Shihab (M.A.Sc 2008, now Assistant Professor at Rochester Institute of Technology, USA)</li>
<li>Fengdan Wan (M.A.Sc 2008)</li>
</ul>
</div>
  <!-- END CONTENT -->
</div>
<!-- END SIDEBAR & CONTENT -->
