---
title: Publications
date: 2015-11-29 21:00:03
layout: page
---
<div class="row margin-bottom-40">
  <div class="col-md-12 col-sm-12">
    <div class="content-page">
<h2>Publications</h2>
<p><strong>Book</strong></p>
<p>[B1] L. Cai, X. Shen, and J. W. Mark, Multimedia Services in Wireless Internet: Modeling and Analysis, John Wiley &amp; Sons, Inc., June 2009.</p>
<p><strong>Journal Papers </strong></p>
<p><span>
[J88] Y. Chen, X. Wang, and L. Cai, "On Achieving Fair and Throughput-optimal Scheduling for TCP Flows in Wireless Networks," IEEE Transactions on Wireless Communications, accepted, Sept. 2016. 
</span></p><p><span>
[J87] J. He, L. Cai, J. Pan, and P. Cheng, "Delay Analysis and Routing for Two-Dimensional VANETs Using Carry-and-Forward Mechanism," 
IEEE Transactions on Mobile Computing, accepted, August 2016. 
</span></p><p><span>
[J86] R. Zhang, S. Lu, P. Zhao, L. Cai, and J. Wang, "Measurement and Modeling of Angular Spreads of Three-dimensional Urban Street Radio Channels," IEEE Transactions on Vehicular Technologies, accepted, August 2016. 
</span></p><p><span>
[J85] M. Xing, J. He, and L. Cai, "Utility maximization for multimedia data dissemination in large-scale VANETs," IEEE Transactions on Mobile Computing, accepted, June 2016.
</span></p><p><span>
[J84] J. Wang, D. Fang, Z. Yang, H. Jiang, and L. Cai, "E-HIPA: An energy-efficient framework for high-precision multi-target-adaptive device-free localization," IEEE Transactions on Mobile Computing, accepted, April 2016. 
</span></p><p><span>
[J83] J. He and L. Cai, "Hybrid Content Distribution Framework for Large-scale Vehicular Ad Hoc Network," ZTE Communications Special Issue on Vehicular Communications, Networks, and Applications,  August, 2016. 
</span></p><p><span>
[J82] H. Zhang, L. Zheng and L. Cai, "Design and Analysis of Heterogeneous Physical Layer Network Coding," IEEE Transactions on Wireless Communications, vol. 15, no. 4, pp. 2484-2497, April 2016. 
[<a href="twc16-pnc.pdf">PDF</a>] </span></p><p><span>
[J81]  C. Liu, D. Fang, Z. Yang, H. Jiang, X. Chen, and L. Cai, "RSS Distribution-based Passive Localization and Its Application in Sensor Networks," IEEE Transactions on Wireless Communications, vol. 15, no. 4, pp. 2883-2895, April 2016. 
 </span></p><p><span>
[J80] L. Sun, H. Shan, A. Huang, L. Cai, and H. He, "Channel Allocation for Adaptive Video Streaming in Vehicular Networks," IEEE Transactions on Vehicular Technology, accepted, Jan. 2016. DOI:10.1109/TVT.2016.2535659

</span></p><p><span>
[J79] J. He, L. Cai, P. Cheng, and J. Pan, "Delay Minimization for Data Dissemination in Large-scale VANETs with Buses and Taxis," IEEE Trans. on Mobile Computing, vol. 15, no. 8, pp. 1939-1950, Aug. 2016. [<a href="tmc16-vanet.pdf">PDF</a>]
</span></p><p><span>
[J78]  S. Xiang, M. Xing, L. Cai, and J. Pan, "Dynamic Rate Adaptation for Adaptive Video Streaming in Wireless Networks," Elsevier Signal Processing: Image Communication, accepted, August 2015. 
[<a href="http://dx.doi.org/10.1016/j.image.2015.08.007">DOI</a>] </span></p><p><span>
[J77] J. He, L. Cai, P. Cheng, F. Lu, "Optimal Investment for Retail Company in Electricity Market," IEEE Trans. on Industrial Informatics, accepted, August 2015.
</span></p><p><span>
[J76] R. Zhang, S. Wang, S. Lu, W. Duan, L. Cai, "Two-Dimensional DoA Estimation for Multipath Propagation Characterization using the Array Response of PN-Sequences," IEEE Transactions on Wireless Communications, accepted, August 2015. 

</span></p><p><span>
[J75] D. Fang, C. Wu, J. Wang, L. Cai, and X. Jiang, "Editorial: Location-Related Challenges and Strategies in Wireless Sensor Networks," International Journal of Distributed Sensor Networks, 2015.
</span></p><p><span>
[J74]  X. Deng, L. He, Q. Liu, X. Li, L. Cai, and Z. Chen, "EPTR: expected path throughput based routing protocol for wireless mesh networks," Springer Wireless Networks, July 2015. DOI:10.1007/s11276-015-1003-3.
</span></p><p><span>
[J73] K. Zhou, J. Pan, and L. Cai, "Indirect Load Shaping for CHP Systems through Real-Time Price Signals," IEEE Transactions on Smart Grid, accepted, March 2015. 
[<a href="tsg-2015-chp.pdf">PDF</a>]
</span></p><p><span>
[J72] M. Xing, J. He, and L. Cai, "Maximum-utility scheduling for multimedia transmission in drive-thru Internet," IEEE Transactions on Vehicular Technology, accepted, March 2015.  
[<a href="tvt-2015-scheduling.pdf">PDF</a>]
</span></p><p><span>
[J71] X. Deng, L. He, X. Li, Q. Liu, and L. Cai, "A Reliable QoS-Aware Routing Scheme for Neighbor Area Network in Smart Grid," Peer-to-peer Networking and Applications, accepted, Jan. 2015.
</span></p><p><span>
[J70] M. Ni, J. Pan, L. Cai, J. Yu, Z. Zhong, "Interference-based Capacity Analysis for Vehicular Ad Hoc Networks," IEEE Communications Letters, vol. 9, no.4, pp. 621-624, Apr. 2015.
[<a href="cl-2015-capacity.pdf">PDF</a>]
</span></p><p><span>
[J69] M. Ni, J. Pan, and L. Cai, "Geometrical-Based Throughput Analysis of Device-to-Device Communications in a Sector-Partitioned Cell," IEEE Transactions on Wireless Communications, vol. 14, no. 4, pp. 2232-2244, April 2015. 
[<a href="twc-2015-d2d.pdf">PDF</a>]
</span></p><p><span>
[J68]  L. Zheng and L. Cai, "AFDA: Asynchronous Flipped Diversity Aloha for Emerging Wireless Networks with Long and Heterogeneous Delay," IEEE Transactions on Emerging Topics in Computing, vol.3, no.1, pp.64-73, March 2015.
doi: 10.1109/TETC.2014.2373052 [<a href="tetc-2015-afda.pdf">PDF</a>]
</span></p><p><span>
[J67] M. Cheng, Q. Ye and L. Cai, "Rate-Adaptive Concurrent Transmission Scheduling Schemes for WPANs with Directional Antennas," IEEE Trans. On Vehicular Technology, accepted, Oct. 2014. 
</span></p>
[<a href="tvt-2015-rate.pdf">PDF</a>]
<p><span>[J66] X. Wang and L. Cai, "Limiting Properties of Overloaded Multiuser Wireless Systems with Throughput-Optimal Scheduling," IEEE Trans. on Communications, accepted, Sept. 2014. </span></p>
<p><span>[J65] M. Ni, L. Zheng, F. Tong, J. Pan, and L. Cai, "A Geometrical-Based Throughput Bound Analysis for Device-to-Device Communications in Cellular Networks," IEEE JSAC Special Issue on Device to Device Communications in Cellular Networks, accepted, August 2014. </span></p>
<p><span>[J64] K. Zhou and L. Cai, "A Dynamic Water-filling Method for Real-Time HVAC Load Control Based on Model Predictive Control," IEEE Trans. on Power Systems, accepted, July 2014.</span></p>
<p><span>[J63] L. Zheng, M. Ni, L. Cai, J. Pan, C. Ghosh, K. Doppler, "Performance Analysis of Group-Synchronized DCF for Dense IEEE 802.11 Networks," IEEE Trans. On Wireless Communications, accepted, June 2014. </span></p>
<p><span>[J62] R. Zhang, Z. Zhong, Y. Zhang, X. Lu and L. Cai, "Measurement and analytical study of the correlation properties of subchannel fading for non-contiguous carrier aggregation," IEEE Trans. on Vehicular Technology, accepted, Feb. 2014. </span></p>
<p><span>[J61] L. Zheng and L. Cai, "A Distributed Demand Response Control Strategy Using Lyapunov Optimization," IEEE Trans. on Smart Grid, vol. 5, no. 4, pp. 2075-2083, July 2014. </span></p>
<p><span>[J60] L. Zhang, L. Cai, J. Pan and F. Tong. "A New Approach to the Directed Connectivity in Two-Dimensional Lattice Networks", to appear in IEEE Transactions on Mobile Computing (TMC), 2014. [</span><a href="http://www.ece.uvic.ca/~cai/tmc14.pdf">PDF</a><span>] </span></p>
<p><span>[J59] Z. Yang, L. He, L. Cai, and J. Pan, "Temperature-assisted clock synchronization and self-calibration for sensor networks," IEEE Trans. on Wireless Communications, accepted, Jan. 2014. </span></p>
<p><span>[J58] X. Wang and L. Cai, "Stability region of opportunistic scheduling in wireless networks," IEEE Trans. on Vehicular Technology, accepted, Jan. 2014. [</span><a href="http://www.ece.uvic.ca/~cai/tvt14-stability.pdf">PDF</a><span>] </span></p>
<p><span>[J57] M. Xing, S. Xiang, and L. Cai, "A Real-time Adaptive Algorithm for Video Streaming over Multiple Wireless Access Networks," IEEE JSAC, vol. 32, no. 4, pp. 795-805, April 2014. [</span><a href="http://www.ece.uvic.ca/~cai/jsac-14-video.pdf">PDF</a><span>] </span></p>
<p><span>[J56] K. Zhou and L. Cai, "Randomized PHEV Charging Under Distribution Grid Constraints," IEEE Trans. on Smart Grid, vol. 5, no. 2, pp. 879-887, March 2014. [</span><a href="http://www.ece.uvic.ca/~cai/disgrid.pdf">PDF</a><span>] </span></p>
<p><span>[J55] K. Zhou and L. Cai, "A Decentralized Access Control Algorithm for PHEV Charging in Smart Grid," Elsevier Energy Systems, August 2013. ISSN:1868-3967. </span></p>
<p><span>[J54] Y. Luo, R. Zhang, L. Cai, and S. Xiang, "Finite-state Markov Modeling for Wireless Cooperative Networks," IET Networks, DOI: 10.1049/iet-net.2013.0045, Sept. 2013. </span></p>
<p><span>[J53] L. He, Z. Yang, J. Pan, L. Cai, and J. Xu, "Evaluating Service Disciplines for On-Demand Mobile Data Collection in Sensor Networks," IEEE Trans. on Mobile Computing, vol. 13, no.4, pp. 797-810, April 2014. [</span><a href="http://www.ece.uvic.ca/~cai/tmc14-mobilesensor.pdf">PDF</a><span>] </span></p>
<p><span>[J52] X. Wang and L. Cai, "Proportional Fair Scheduling in Hierarchical Modulation Aided Wireless Networks," IEEE Trans. on Wireless Communications, vol. 12, no. 4, pp. 1584-1593,April 2013. [</span><a href="http://www.ece.uvic.ca/~cai/twc13-pfs.pdf">PDF</a><span>] </span></p>
<p><span>[J51] S. Xiang and L. Cai, "Transmission Control for Compressive Sensing Video over Wireless Channel," IEEE Trans. on Wireless Communications, vol. 12, no. 3, pp. 1429-1437, March 2013. [</span><a href="http://www.ece.uvic.ca/~cai/twc13-csvideo.pdf">PDF</a><span>] </span></p>
<p><span>[J50] J. Wang, A. Huang, L. Cai, and W. Wang, "On the Queue Dynamics of Multi-User Multi-Channel Cognitive Radio Networks," IEEE Trans. On Vehicular Technology, vol. 62, no. 3, pp. 1314-1328, March 2013. </span></p>
<p><span>[J49] M. Cheng, Q. Ye, L. Cai, "Cross-Layer Schemes for Reducing Delay in Multihop Wireless Networks," IEEE Trans. on Wireless Communications, vol. 12, no. 2, pp. 928-937, Feb. 2013. </span></p>
<p><span>[J48] L. Zheng, N. Lu, and L. Cai, "Reliable Wireless Communication Networks for Demand Response Control," IEEE Trans. on Smart Grid, vol. 4, no. 1, pp.133-140, March 2013. [</span><a href="http://www.ece.uvic.ca/~cai/sg-12.pdf">PDF</a><span>]</span></p>
<p><span>[J47] Y. Zhuang, J. Pan, V. Viswanathan, and L. Cai, "On the Uplink MAC Performance of A Drive-Thru Internet," IEEE Trans. on Vehicular Technology, vol. 61, no. 4, pp. 1925-1935, May 2012. [</span><a href="http://www.ece.uvic.ca/~cai/tvt12-vanet.pdf">PDF</a><span>] </span></p>
<p><span>[J46] A. Abdullah, L. Cai, and F. Gebali, "DSDMAC: Dual Sensing Directional MAC Protocol for Ad Hoc Networks with Directional Antennas," IEEE Trans. on Vehicular Technology, vol. 61, no. 3, pp. 1266-1275, March 2012.[</span><a href="http://www.ece.uvic.ca/~cai/tvt12-dsdmac.pdf">PDF</a><span>] </span></p>
<p>[J45] L. Cai, S. Xiang, Y. Luo and J. Pan, "Scalable modulation for video transmission in wireless networks," IEEE Trans. on Veh. Tech., Vol. 60, Issue 9, pp. 4314--23, Nov. 2011. [<a href="http://www.ece.uvic.ca/~cai/scalable-modulation.pdf">PDF</a>]</p>
<p>[J44] Z. Yang, L. Cai, Y. Luo, and J. Pan, “Topology-aware modulation and error-correction coding for cooperative networks,” <i>IEEE JSAC</i>, special issue on Cooperative Networking Challenges and Applications, vol. 30, no. 2, pp. 379-387, Feb. 2012. [<a href="http://www.ece.uvic.ca/~cai/network-modulation.pdf">PDF</a>]</p>
<p>[J43] M. Cheng, X. Gong, L. Cai, and X. Jia, "Cross-layer throughput optimization with transmission power control in sensor networks," IEEE Trans. on Vehicular Technology, accepted, June 2011. </p>
<p>[J42] Y. Zhuang, J. Pan, Y. Luo, and L. Cai, "Time and Location-Critical Emergency Message Dissemination for Vehicular Ad-Hoc Networks," <i>IEEE JSAC</i>, special issue on Vehicular and Communications and Networks, vol. 29, issue 1, pp. 187-196, Jan. 2011. [<a href="http://www.ece.uvic.ca/~cai/jsac11-tlc.pdf">PDF</a>]</p>
<p>[J41] R. Zhang, L. Cai, J. Pan and X. Shen, "Resource Management for Video Streaming in Ad Hoc Networks," <i>Elsevier Ad Hoc Networks</i>, special issue on Multimedia Ad Hoc and Sensor Networks, accepted, August, 2010. [<a href="http://www.ece.uvic.ca/~cai/adhoc10.pdf">PDF</a>] [<a href="http://localhost/10.1016/j.adhoc.2010.08.012">DOI</a>]</p>
<p>[J40] R. Zhang and L. Cai, "Joint AMC and Packet Fragmentation for Error-control over Fading Channels," IEEE Trans. on Veh. Tech. Vol.59, Issue 6, pp. 3070-3080, July 2010. [<a href="http://www.ece.uvic.ca/~cai/tvt-joint-10.pdf">PDF</a>]</p>
<p>[J39] R. Zhang, R. Ruby, J. Pan, L. Cai and X. Shen, "A Hybrid Reservation/Contention-based MAC for Video Streaming over Wireless Networks," IEEE JSAC, vol. 28, issue 3, pp. 389-398, April 2010. [<a href="http://www.ece.uvic.ca/~cai/jsac-hmac-10.pdf">PDF</a>]</p>
<p>[J38] F. Wan, L. Cai, E. Shihab, and A. Gulliver, "Admission region of triple-play services in wireless home networks," Computer Communications (Elsevier), accepted, Dec. 2009. [<a href="http://dx.doi.org/10.1016/j.comcom.2009.12.006">DOI</a>] </p>
<p>[J37] L. Wang, L. Cai, X. Liu, and X. Shen, "Bounds Estimation and Practical Stability of AIMD/RED Systems with Time Delays", Computer Networks (Elsevier), accepted, Oct. 2009. [<a href="http://www.ece.uvic.ca/~cai/paper/comnet-09-bound.pdf">PDF</a>]</p>
<p>[J36] R. Zhang, L. Cai, S. He, X. Dong, and J. Pan. "Modeling, validation and performance evaluation of body shadowing effect in ultra-wideband networks," Elsevier Physical Communication, June 2009. [<a href="http://dx.doi.org/10.1016/j.phycom.2009.06.002">DOI</a>] </p>
<p>[J35] L. X. Cai, L. Cai, X. Shen, J. W. Mark, and Q. Zhang, "MAC Protocol Design and Optimization for Multi-hop Ultra-wideband Networks," IEEE Trans. on Wireless Commun., vol. 8, issue 8, pp. 4056-65, Aug. 2009. [<a href="http://www.ece.uvic.ca/~cai/paper/twc-09-mac.pdf">PDF</a>]</p>
<p>[J34] E. Shihab, L. Cai and J. Pan, ``A Distributed, Asynchronous Directional-to-Directional MAC Protocol for Wireless Ad Hoc Networks,'' IEEE Trans. on Vehicular Technology, vol. 58, issue 9, pp.5124-34, Nov. 2009. [<a href="http://www.ece.uvic.ca/~cai/paper/tvt-09-d2d.pdf">PDF</a>]</p>
<p>[J33] R. Zhang and L. Cai. ``A Packet-level Model for UWB Channel with People Shadowing Process based on Angular Spectrum Analysis,'' IEEE Trans. on Wireless Commun., vol. 8, issue 8, pp. 4048-55, Aug. 2009. [<a href="http://www.ece.uvic.ca/~cai/paper/twc-09-shadow.pdf">PDF</a>]</p>
<p>[J32] M. Cheng, X. Gong, and L. Cai, ``Joint Routing and Link Rate Allocation under Bandwidth and Energy Constraints in Sensor   Networks,'' IEEE Trans. on Wireless Commun., vol. 8, issue 7, pp. 3770-79, July 2009. [<a href="http://www.ece.uvic.ca/~cai/paper/twc-09-sensor.pdf">PDF</a>]</p>
<p>[J31] L. Wang, L. Cai, X. Liu, X. Shen, and J. Zhang ``Stability Analysis of General AIMD/RED Systems with Multiple Bottleneck networks,'' Elsevier Computer Netowrks, 53(3):338-352, Feb. 2009. [<a href="http://dx.doi.org/10.1016/j.comnet.2008.10.009">DOI</a>] </p>
<p>[J30] L. X. Cai, L. Cai, X. Shen, and J. W. Mark, ``Resource Management and QoS Provisioning for IPTV over mmWave-based WPANs with Directional Antenna,'' ACM/Springer Mobile Networks and Applications (MONET), 14(2):210-219, April 2009. [<a href="http://dx.doi.org/10.1007/s11036-008-0134-5">DOI</a>] </p>
<p>[J29] K. Liu, X. Shen, R. Zhang and L. Cai, ``Performance Analysis of Distributed Reservation Protocol for UWB-based WPAN,'' IEEE Trans. on Vehicular Technology, 58(2):902--913, Feb. 2009.  [<a href="http://www.ece.uvic.ca/~cai/paper/tvt-09-drp.pdf">PDF</a>]</p>
<p>[J28] L. X. Cai, L. Cai, X. Shen, and J. W. Mark, ``Capacity Analysis of UWB Networks in Three-dimensional Space,''  IEEE/KICS Journal of Communications and Networks,  11(3):287--296, 2009. </p>
<p>[J27] L. X. Cai, X. Shen, J. W. Mark, and L. Cai, ``Supporting voice and video applications over IEEE 802.11n WLANs,'' ACM Wireless Networks (WINET),  15(4):443-454, May 2009.  [<a href="http://dx.doi.org/10.1007/s11276-007-0062-5">DOI</a>]</p>
<p>[J26] E. Shihab, L. Cai, F. Wan, A. Gulliver, and N. Tin, “Mesh Network for In-Home IPTV Distribution,” IEEE Network Magazine, Special Issue on Wireless Mesh Networks: Applications, Architectures and Protocols, Vol. 22, No. 1, pp. 52-57, Jan./Feb. 2008. [<a href="http://www.ece.uvic.ca/~cai/ieee-network-08-iptv.pdf">PDF</a>] </p>
<p>[J25] L. Cai and X. Shen, “ Editorial: Energy-efficient algorithm and protocol design in sensor networks,” International Journal of Sensor Networks, Vol. 4, No. 1/2, pp. 1-2, 2008. [J24] V. Mahinthan, L. Cai, J. W. Mark, and X. Shen, “"Partner Selection Based on Optimal Power Allocation in Cooperative Diversity Systems," <i>IEEE Trans. on Vehicular Technology</i>, vol. 57, no. 1, pp. 511-520, Jan. 2008. [<a href="http://www.ece.uvic.ca/~cai/tvt-08-partner-selection.pdf">PDF</a>]</p>
<p>[J23] K. Liu, L. Cai X. Shen, “Multi-Class Utility-Based Scheduling for UWB Networks,” IEEE Trans. on Vehicular Technology, Vol. 57, No. 2, pp. 1178-1187, March 2008. [<a href="http://www.ece.uvic.ca/~cai/paper/tvt-08-ut.pdf">PDF</a>]</p>
<p>[J22] S. Pack, X. Shen, J. W. Mark, and L. Cai, "Throughput Analysis of TCP Friendly Rate Control in Mobile Hotspots," IEEE Trans. on Wireless Comm., Vol. 7, Issue 1, pp. 193-203, Jan. 2008. [<a href="http://www.ece.uvic.ca/~cai/twc-08-mobile-hotspot.pdf">PDF</a>] </p>
<p>[J21] K. Liu, L. Cai, X. Shen, "Exclusive-Region based Scheduling Algorithms for UWB WPAN," IEEE Trans. on Wireless Communications Vol. 7, No. 3, pp. 933-942, March 2008.  [<a href="http://www.ece.uvic.ca/~cai/paper/twc-08-er.pdf">PDF</a>]</p>
<p>[J20] L. X. Cai, L. Cai, X. Shen, and J. W. Mark, ``REX: a Randomized Exclusive Region based Scheduling Scheme for<br />  mmWave WPANs,'' IEEE Trans. on Wireless Commun., vol. 9, issue 1, pp. 113-121, Jan. 2010. [<a href="http://www.ece.uvic.ca/~cai/paper/twc-10-rex.pdf">PDF</a>]</p>
<p>[J19] R. Zhang and L. Cai, “A Markov Model for Ultra-wideband Indoor Channel with Shadowing,” <i>ACM/Springer Mobile Networks and Applications (MONET)</i>, Vol. 12, Issue 5, pp. 438-449, Dec. 2007. [<a href="http://dx.doi.org/10.1007/s11036-008-0043-7">DOI</a>] [<a href="http://www.ece.uvic.ca/~cai/paper/monet-07.pdf">PDF</a>]</p>
<p>[J18]Shen, X., N. F. Maxemchuk, and L. Cai, “Guest Editorial: Special section on vehicular communication networks,” IEEE Trans. on Vehicular Technology, Vol. 56, No. 6, pp. 3241- 3243, Nov. 2007. </p>
<p>[J17] S. Pack, X. Shen, J. W. Mark, and L. Cai, "A Two-Phase Loss Differentiation Algorithm for Improving TFRC Performance in IEEE 802.11 WLANs,” IEEE Trans. on Wireless Comm., Vol. 6, Issue 11, pp. 4164-4175, Nov. 2007. [<a href="http://www.ece.uvic.ca/~cai/twc-07-tfrc.pdf">PDF</a>]</p>
<p>[J16] L. X. Cai, X. Shen, J. W. Mark, and L. Cai, "Capacity analysis and MAC enhancement for UWB broadband wireless access networks,” Elsevier Computer Networks, Vol. 51, Issue 11, pp. 3265-3277, Aug. 2007. [<a href="http://dx.doi.org/10.1016/j.comnet.2006.12.012">DOI</a>]</p>
</p>
<p>[J15] S. Pack, H. Rutagemwa, X. Shen, J. W. Mark, and L. Cai, "Performance Analysis of Mobile Hotspots with Heterogeneous Wireless Links," IEEE Trans. on Wireless Communications, Vol. 6, Issue 10, pp. 3717-3727, Oct. 2007. [<a href="http://www.ece.uvic.ca/~cai/twc-07-ana-mobilespot.pdf">PDF</a>]</p>
<p>[J14] L. Wang, L. Cai, X. Liu, and X. Shen, "Stability and TCP-friendliness of AIMD/RED Systems with Feedback Delays," Elsevier Computer Networks, Vol. 51, Issue 15, pp. 4475-4491, Oct. 2007. [<a href="http://dx.doi.org/10.1016/j.comnet.2007.06.022%20">DOI</a>]</p>
<p>[J13] V. Mahinthan, L. Cai, J.W. Mark, and X. Shen, "Maximizing cooperative diversity energy gain for wireless networks", IEEE Trans. on Wireless Communications, Vol. 6, No. 6, pp. 2530-2539, June 2007. [<a href="http://www.ece.uvic.ca/~cai/twc-07-cd.pdf">PDF</a>]</p>
<p>[J12] J. Pan, L. Cai and X. Shen, "Vulnerabilities in Distance-Indexed IP Traceback Schemes," International J. of  Security and Networks (IJSN), Vol. 2, Nos.1/2, pp. 81-94, Jan. 2007. [<a href="http://www.ece.uvic.ca/~cai/ijsn-07.pdf">PDF</a>]</p>
<p>[J11] L. Cai, X. Shen, J. W. Mark, and J. Pan, Performance modeling and analysis of window-controlled multimedia flows in wireless/wired networks, IEEE Trans. on Wireless  Communiactions, 6(4):1356--1365, April 2007. [<a href="http://www.ece.uvic.ca/~cai/pmaaow.pdf">PDF</a>]</p>
<p>[J10] J. Pan, L. Cai, X. Shen, and J. W. Mark, ``Identity-based secure collaboration in ad hoc networks,'' Elsevier Computer Networks, vol. 51, issue 3, pp. 853-865, Feb. 2007. [<a href="http://dx.doi.org/10.1016/j.comnet.2006.05.012">DOI</a>]</p>
<p>[J9] L. X. Cai, X. Shen, Y. Xiao, L. Cai, and J. Mark, "VoIP over WLAN: voice capacity and admission control, QoS, and MAC," Int. J. of Communication Systems, Vol. 19, pp. 491-508, May 2006. [<a href="http://www.ece.uvic.ca/~cai/ijcs-06.pdf">PDF</a>]</p>
<p>[J8] Q. He, L. Cai, X. Shen, and P. Ho, Using busy tone to improve TCP performance over wireless ad hoc networks, EURASIP J. on Wireless Comm. and Networking, Volume 2006, Article ID 51610, Pages 1-11 DOI 10.1155/WCN/2006/51610, 2006. [<a href="http://www.ece.uvic.ca/~cai/51610-final.pdf">PDF</a>] </p>
<p>[J7] H. Shen, L. Cai, and X. Shen, "Performance analysis of TFRC over wireless links with truncated link level ARQ," <i>IEEE Trans. on Wireless Communications</i>, Vol. 5, issue 6, pp. 1479--1487, June 2006. [<a href="http://www.ece.uvic.ca/~cai/tw06-2.pdf">PDF</a>]</p>
<p>[J6] L. X. Cai, X. Shen, L. Cai, J. Mark, and Y. Xiao, "Voice capacity analysis of WLAN with un-balanced traffic," IEEE Trans. on Vehicular Technology, 55(3): 752--761, May 2006. [<a href="http://www.ece.uvic.ca/~cai/tvt06.pdf">PDF</a>]</p>
<p>[J5] L. Cai, J. Ye, J. Pan, X. Shen, and J. W. Mark, "Dynamic server selection using fuzzy inference in content distribution networks," <i>Elsevier Computer Communications</i>, Vol. 29/8, pp. 1026--1038, May 2006. [<a href="http://dx.doi.org/10.1016/j.comcom.2005.06.001">DOI</a>]</p>
<p>[J4] J. Pan, Y. Hou, L. Cai, Y. Shi, and X. Shen, "Serialized optimal relay schedules in two-tiered wireless sensor networks," <i>Elsevier Computer Communications</i>, vol. 29, issue 4, pp. 511--524, Feb. 2006. [<a href="http://dx.doi.org/10.1016/j.comcom.2004.12.034">DOI</a>]</p>
<p>[J3] L. Cai, X. Shen, J. W. Mark, and J. Pan, "QoS support for multimedia traffic in wireless/wired networks using TCP-friendly AIMD protocols," <i>IEEE Trans. on Wireless Communications</i>, vol. 5, issue 2, pp. 469--480, Feb. 2006. [<a href="http://www.ece.uvic.ca/~cai/twc-06-qos.pdf">PDF</a>]</p>
<p>[J2] J. Pan, L. Cai, Y. Hou, Y Shi, and X. Shen, "Optimal base-station locations in two-tiered wireless sensor networks," <i>IEEE Trans. on Mobile Computing</i>,  vol. 4, issue 5, pp. 458--473, Sept./Oct. 2005. [<a href="http://www.ece.uvic.ca/~cai/j3.pdf">PDF</a>]</p>
<p>[J1] L. Cai, X. Shen, J. Pan, and J. W. Mark, "Performance analysis of TCP-friendly AIMD algorithms for multimedia applications," <i>IEEE Trans. on Multimedia</i>, vol. 7, issue 2, pp. 339--355, April 2005. [<a href="http://www.ece.uvic.ca/~cai/j1.pdf">PDF</a>]</p>
<p><strong>Conference Papers</strong></p>
<p><span>
[C117]  Y. Ni, J. He, L. Cai and Y. Bo, "Delay Analysis and Message Delivery Strategy in Hybrid V2I/V2V Networks," IEEE Globecom'16, Washington D.C., USA, Dec. 2016.
</span></p><p><span>
[C116]  J. Chen, J. He, L. Cai and J. Pan, "Profiling Online Social Network Users via Relationships and Network Characteristics," IEEE Globecom'16, Washington D.C., USA, Dec. 2016.
</span></p><p><span>

[C115]  Y. Li, M. Ghasemiahmadi, and L. Cai, "Performance Analysis of Semi-Centralized Controlled Uplink Cooperative Transmission," IEEE Globecom'16, Washington D.C., USA, Dec. 2016.



</span></p><p><span>

[C114] R. Zhang, M. Li, L. Cai and B. Li, "Distributed Prioritized MAC for time-frequency hopping channel in wireless networks," NaNA 2016, Hakodate City, Hokkaido, Japan, July 2016. 
(Best Paper Award)
</span></p><p><span>

[C113]Y. Li, M. Ghassemi, and L. Cai, "Uplink cooperative transmission for machine-type-communication traffic in cellular system," IEEE VTC-Fall'16, Montreal, Canada, September 2016.
</span></p><p><span>

[C112] G. Feng, J. Lin, Y. Zhang, H. Wang, and L. Cai, "Joint optimization of downlink and D2D
transmissions for SVC streaming in cooperative cellular networks," WASA 2016, Bozeman, Montana, USA, August 2016.
</span></p><p><span>

[C111] Ruonan Zhang, Miao Li, Lin Cai and Bin Li, "Distributed Prioritized MAC for time-
frequency hopping channel in wireless networks," NaNA 2016, Hakodate City, Hokkaido, Japan, July 2016.
</span></p><p><span>

[C110] Z. Wei, J. He, and L. Cai, "Admission Control and Scheduling for EV Charging Station Considering Time-of-Use Pricing," IEEE VTC-Spring'16, Nanjing, China, May 2016.
</span></p><p><span>

[C109] M. Cheng, Q. Ye, X. Cheng and L. Cai, "Maximizing Coding Gain in Wireless Networks with Decodable Network Coding," IEEE ICC'16, Kuala Lumpur, Malaysia, May 2016.
</span></p><p><span>

[C108] J. He, C. Zhao, L. Cai, P. Cheng, and L. Shi, "Supply and demand in smart grid: a closed-loop pricing strategy," IEEE CDC'15, Osaka, Japan, Dec. 2015. 
</span></p><p><span>
[C107] Y. Li, K. Sun, and L. Cai, "Small-cell planning based on uplink interference and traffic in two-tier cellular system," IEEE WCSP'15, Nanjing, China, Oct. 2015. </span></p><p><span>
[C106]  H. Zhang and L. Cai, "HePNC: a cross-layer design for MIMO networks with asymmetric two-way relay channel," IEEE Globecom'15, Los Angeles, Dec. 2015.
</span></p><p><span>
[C105]  H. Zhang, L. Zheng, and L. Cai, "PiPNC: Piggybacking Physical Layer Network Coding for Multihop Wireless Networks," IEEE ICC'15, London, UK, June 2015.
</span></p><p><span>
[C104]  Z. Wei, J. He, M. Xing, and L. Cai, "Utility Maximization for Electric Vehicle Charging with Admission Control and Scheduling," IEEE ICC'15, London, UK, June 2015.
</span></p><p><span>


[C103]  R. Zhang, X. Lu, W. Duan, L. Cai, and J. Wang, "Elevation Domain Channel Measurement and Modeling for FD-MIMO with Different UE Height," IEEE WCNC'15, New Orlean, USA, March 2015. 
</span></p><p><span>

[C102] R. Zhang, L. Cai, X. Lu, P. Yang, and J. Zhou, "Elevation Domain Measurement and Modeling of UMa Uplink Channel with UE on Different Floors," IEEE International Conference on Computing, Networking and Communications (ICNC'15), Invited Position Paper, Anaheim, California, USA, Feb. 2015. 
</span></p><p><span>
[C101]  J. Niu, R. Zhang, L. Cai, and J. Yuan, "A Fully-distributed Directional-to-Directional MAC Protocol for Mobile Ad Hoc Networks," IEEE International Conference on Computing, Networking and Communications (ICNC'15), Anaheim, California, USA, Feb. 2015. 
</span></p><p><span>
[C100]  H. Qin, R. Zhang, B. Li, and L. Cai, "Distributed Cooperative MAC for Wireless Networks Based on Network Coding," IEEE WCNC'15, New Orlean, March 2015.  
</span></p>

<p><span>[C99] J. He, X. Duan, P. Cheng, L. Shi, and L. Cai, "Distributed Time Synchronization under Bounded Noise in Wireless Sensor Networks," IEEE CDC, Los Angles, CA, USA, Dec. 2014. </span></p>
<p><span>[C98] H. Zhang, L. Zheng, and L. Cai, "HePNC: Design of Physical Layer Network Coding with Heterogeneous Modulations," IEEE Globecom'14, Austin, TX, USA, Dec. 2014. </span></p>
<p><span>[C97] M. Cheng, Q. Ye, and L. Cai, "Concurrent Transmission Scheduling for WPANs with Adaptive Data Rate," IEEE Globecom'14, Austin, TX, USA, Dec. 2014. </span></p>
<p><span>[C96] Y. Chen, X. Wang, and L. Cai, "HOL Delay Based Scheduling in Wireless Networks with Flow-Level Dynamics," IEEE Globecom'14, Austin, TX, USA, Dec. 2014. </span></p>
<p><span>[C95] M. Ni, L. Zhang, J. Pan, L. Cai, H. Rutagemwa, L. Li, and T. Wei, "Connectivity in Mobile Tactical Networks," IEEE Globecom'14, Austin, TX, USA, Dec. 2014. </span></p>
<p><span>[C94] F. Tong, M. Ahmadi, J. Pan, L. Zheng, and L. Cai, "Geometrical Distance Distribution for Modeling Performance Metrics in Wireless Communication Networks," ACM Mobicom'14, poster session, Maui, Hawaii, USA, Sept. 2014. </span></p>
<p><span>[C93] L. Sun, A. Huang, H. Shan, M. Xing, and L. Cai, "Quality-Driven Adaptive Video Streaming for Cognitive VANETs," IEEE VTC2014-Fall, Vancouver, Sept. 2014. </span></p>
<p><span>[C92] J. Wang, R. Zhang, W. Duan, S. Lu, and L. Cai, "Angular Spread Measurement and Modeling for 3D MIMO in Urban Macrocellular Radio Channels," IEEE ICC Workshop on 5G Technologies, Sydney, Australia, June 2014. </span></p>
<p><span>[C91] Y. Zhang, R. Zhang, S. Lu, W. Duan and L. Cai, "Measurement and Modeling of Indoor Channels in Elevation Domain for 3D MIMO Applications," IEEE ICC Workshop on Small Cell and 5G Networks, Sydney, Australia, June 2014. </span></p>
<p><span>[C90] Z. Yang, L. Cai, X. Wang, S. Xiang, and J. Pan, "Hierarchical Hexagonal Modulation with Ternary Symbols for Wireless Video Transmission," IEEE Infocom Workshop on Communication and Networking Techniques for Contemporary Video, Toronto, April 2014. [</span><a href="http://www.ece.uvic.ca/~cai/infocom14-video.pdf">PDF</a><span>] </span></p>
<p><span>[C89] M. Ni, J. Pan, and L. Cai, "Power Emission Density-Based Interference Analysis for Random Wireless Networks," IEEE ICC'14, Sydney, Australia, June 2014. [</span><a href="http://www.ece.uvic.ca/~cai/icc14.pdf">PDF</a><span>] </span></p>
<p><span>[C88] K. Zhou, L. Cai, and J. Pan, "Optimal Combined Heat and Power System Scheduling in Smart Grid," IEEE Infocom'14, Toronto, Canada, April/May 2014. [</span><a href="http://www.ece.uvic.ca/~cai/infocom14-chp.pdf">PDF</a><span>] </span></p>
<p><span>[C87] X. Wang, Y. Chen, L. Cai, and J. Pan, "Scheduling in a Secure Wireless Network," IEEE Infocom'14, Toronto, Canada, April/May 2014. [</span><a href="http://www.ece.uvic.ca/~cai/infocom14-secure.pdf">PDF</a><span>] </span></p>
<p><span>[C86] X. Deng, Q. Liu, X. Li, L. Cai and Z. Chen, "A Load Balance Link Layer Protocol for Multi-channel Multi-interface Wireless Mesh Networks," IEEE HPCC'13, Zhangjiajie, China, Nov. 2013. </span></p>
<p>[C85] L. Zheng, L. Cai, J. Pan and M. Ni, "Performance Analysis of Grouping Strategy for Dense IEEE 802.11 Networks," IEEE Globecom'13, Atlanta, GA, USA, Dec. 2013. </p>
<p>[C84] S. Wang, R. Zhang, L. Cai and Y. Jiang, "New SAPFR Protocol for WSNs with Sensitive Clusters," IEEE Globecom'13, Atlanta, GA, USA, Dec. 2013. </p>
<p>[C83] X. Wang and L. Cai, "Resource Allocation in a K-User Wireless Broadcast System with N-Layer Superposition Coding," IEEE WCNC'13, Shanghai, China, April 2013. </p>
<p>[C82] X. Deng, Q. Liu, X. Li, L. Cai, and Z. Chen, "Channel Quality and Load Aware Routing in Wireless Mesh Network," IEEE WCNC'13, Shanghai, China, April 2013. </p>
<p>[C81] L. Zheng, S. Lin, and L. Cai, "Efficient Multi-Receiver Message Aggregation for Short Message Delivery in M2M Networks," IEEE WCNC'13, Shanghai, China, April 2013. </p>
<p>[C80] L. Zhang, L. Cai, and J. Pan, "Connectivity in Two-Dimensional Lattice Networks," IEEE Infocom'13, Turin, Italy, April 2013. (acceptance rate: 17%) </p>
<p>[C79] J. Wang, D. Fang, X. Chen, Z. Yang, T. Xing, and L. Cai, “ LCS: Compressive Sensing based Device-Free Localization for Multiple Targets in Sensor Networks,” IEEE Infocom-MC'13, Turin, Italy, April 2013. </p>
<p>[C78] S. Wang, R. Zhang, J. Ma, and L. Cai, "A simple energy-efficient routing algorithm for wireless sensor networks based on artificial potential field," IEEE Globecom'12, Anaheim, CA, USA, Dec. 2012. </p>
<p>[C77] S. Lin, Z. Zhong, L. Cai, and Y. Luo, "Finite state Markov modelling for high speed railway wireless communication channel," IEEE Globecom'12, Anaheim, CA, USA, Dec. 2012. </p>
<p>[C76] M. Xing, S. Xiang, and L. Cai, "Rate adaptation for video streaming over multiple wireless access networks," IEEE Globecom'12, Anaheim, CA, USA, Dec. 2012. </p>
<p>[C75] R. Zhang, Y. Zhang, Z. Zhong, X. Lu and L. Cai, "An analytical approach for evaluating the correlation properties of sub-channel fading for carrier aggregation," IEEE ICCC'11, Beijing, China, August 2012. </p>
<p>[C74] M. Xing and L. Cai, “Adaptive Video Streaming with Inter-Vehicle Relay For Highway VANET Scenario,” IEEE ICC'12, Ottawa, Canada, June 2012. </p>
<p>[C73] C. Liu, D. Fang, Z. Yang, X. Chen, W. Wang, T. Xing, N. An, and L. Cai, “RDL: A Novel Approach for Passive Object Localization in WSN Based on RSSI,” IEEE ICC'12, Ottawa, Canada, June 2012. </p>
<p>[C72] S. Xiang, L. Cai, and J. Pan, “Adaptive Scalable Video Streaming in Wireless Networks,” ACM Multimedia Systems Conference (MMSYS 2012), Chapel Hill, North Carolina, USA, Feb. 2012.</p>
<p>[C71] Z. Yang, L. Cai, Y. Liu, and J. Pan, “Environment-Aware Clock Skew Estimation and Synchronization for Wireless Sensor Networks,” IEEE Infocom, Orlando, FL, USA, March 2012. (acceptance ratio: 18%) [<a href="http://www.ece.uvic.ca/~cai/info12-sync.pdf">PDF</a>] </p>
<p>[C70] L. He, Z. Yang, J. Pan, L. Cai, and J. Xu, “Evaluating Service Disciplines for Mobile Elements in Wireless Ad Hoc Sensor Networks,”IEEE Infocom, Orlando, FL, USA, March 2012. (acceptance ratio: 18%)<br /> </p>
<p>[C69] L. Zheng, S. Parkinson, D. Wang, L. Cai, and C. Crawford, "Energy efficient communication network design for demand response in smart grid," WCSP'11, Nanjing, China, Nov. 2011. </p>
<p>[C68] X. Wang and L. Cai, "Interference analysis of co-existing wireless body area networks," IEEE Globecom'11, Houston, Texas, USA, Dec. 2011. </p>
<p>[C67] L. Zheng and L. Cai, “Flipped contention resolution diversity Aloha,” IEEE Globecom'11, Houston, Texas, USA, Dec. 2011.</p>
<p>[C66] M. Cheng, X. Gong, Y. Xu, and L. Cai, “Link activity scheduling for minimum end-to-end latency in multihop wireless sensor networks,” IEEE Globecom'11, Houston, Texas, USA, Dec. 2011.</p>
<p>[C65] Y. Zhuang, Y. Luo, L. Cai, and J. Pan, “A geometric probability model for capacity analysis and interference estimation in wireless mobile cellular systems,” IEEE Globecom'11, Houston, Texas, USA, Dec. 2011.</p>
<p>[C64] R. Zhang, X. Lu, Z. Zhong, and L. Cai, “A study on spatial-temporal dynamics properties of indoor wireless channels,” WASA'11, Chengdu, Aug. 2011. </p>
<p>[C63] Z. Yang, Y. Luo, and L. Cai, “Network Modulation: A New Dimension to Enhance Wireless Network Performance," <i>IEEE Infocom'11</i>, Shanghai, China, May 2011. [<a href="http://www.ece.uvic.ca/~cai/info11-NM.pdf">PDF</a>]</p>
<p>[C62] S. Xiang and L. Cai, “Scalable Video Coding with Compressive Sensing for Wireless Videocast,” <i>IEEE ICC'11, </i>Kyoto, Japan, June 2011. [<a href="http://www.ece.uvic.ca/~cai/icc11-cs.pdf">PDF</a>]</p>
<p>[C61] R. Zhang, L. Cai, and J. Pan, “Performance study of hybrid MAC using soft reservation for wireless networks,” <i>IEEE ICC'11, </i>Kyoto, Japan, June 2011.</p>
<p>[C60] H. Mukaidani, L. Cai, and X. Shen, “Stable Queue Management for Supporting TCP Flows over Wireless Networks,” <i>IEEE ICC'11, </i>Kyoto, Japan, June 2011.</p>
<p>[C59] J. Song, Y. Zhuang, J. Pan, and L. Cai, “Certificateless Secure Upload for Drive-thru Internet,” <i>IEEE ICC'11, </i>Kyoto, Japan, June 2011.</p>
<p>[C58] B. Ma, Z. Yang, L. Cai, and A. Gulliver, “Power allocation and scheduling for broadband wireless networks considering mutual interference,” <i>IEEE ICC'11, </i>Kyoto, Japan, June 2011.</p>
<p>[C57] Y. Luo and L. Cai, “Error Recovery with Soft Value Combining for Wireless Cooperative Systems,” <i>IEEE WCNC'11</i>, Quintana-Roo, Mexico, March 2011. (Best Academic Paper Award)</p>
<p>[C56] Y. Zhuang, J. Pan, and L. Cai, "A Probabilistic Model on Message Propagation in Two-Dimensional Vehicular Ad-Hoc Networks," ACM VANET'10, Chicago, USA, Sept. 2010. [<a href="http://www.ece.uvic.ca/~cai/vanet10.pdf">PDF</a>] </p>
<p>[C55] S. Xiang and L. Cai, "Distortion Analysis of Wyner-Ziv Distributed Video Coding," <i>IEEE Globecom'10</i>, Dec. 2010, Miami, USA.</p>
<p>[C54] Y. Luo, R. Zhang, and L. Cai, "Second-Order Properties for Wireless Cooperative Systems with Rayleigh Fading,"<i> IEEE Globecom'10</i>, Dec. 2010, Miami, USA.</p>
<p>[C53] H. Ma and L. Cai, "Performance Analysis of Randomized MAC for Satellite Telemetry Systems," <i>IWIOT Workshop</i>, Aug. 2010, Beijing, China. </p>
<p>[C52] Abdullah, L. Cai, and G. Feyaz, “Enhanced Busy-Tone-Assisted MAC Protocol for Wireless Ad Hoc Networks,” IEEE VTC'10-Fall, Sept. 2010, Ottawa, Canada. </p>
<p>[C51] Z. Yang, L. Cai and W. Lu, "Practical Concurrent Transmission Scheduling Algorithms for Rate-adaptive Wireless Networks," <i>IEEE Infocom'10</i>, Mar. 2010, San Diego, CA, USA. [<a href="http://www.ece.uvic.ca/~cai/paper/info-10-scheduling.pdf">PDF</a>]</p>
<p>[C50] Y. Zhuang, J. Pan and L. Cai, "Minimizing Energy Consumption with Probabilistic Distance Distributions in Wireless Sensor Networks," <i>IEEE Infocom'10</i>, Mar. 2010, San Diego, CA, USA. </p>
<p>[C49] L. Cai, Y. Luo, S. Xiang, and J. Pan, "Scalable modulation for scalable wireless videocast," <i>IEEE Infocom'10</i>, mini symposium, Mar. 2010, San Diego, CA, USA. [<a href="http://www.ece.uvic.ca/~cai/info10-mini.pdf">PDF</a>]</p>
<p>[C48] H. Zhang, L. Cai, X. Liu and X. Shen, "Boundedness of Heterogeneous TCP Flows with Multiple Bottlenecks," <i>IEEE WCNC'10</i>, April 2010, Sydney, Australia. </p>
<p>[C47] Y. Luo and L. Cai, "Throughput Maximization for User Cooperative Wireless Networks with Adaptive Modulation," <i>IEEE ICC'10</i>, May 2010, Cape Town, South Africa.</p>
<p>[C46] R. Zhang, L. Cai and J. Pan, "Performance analysis of reservation and contention-based hybrid MAC for wireless networks," <i>IEEE ICC'10</i>, May 2010, Cape Town, South Africa. </p>
<p>[C45] Z. Yang, J. Pan and L. Cai, "Adaptive clock skew estimation with Interactive Multi Model Kalman filter for sensor networks," <i>IEEE ICC'10</i>, May 2010, Cape Town, South Africa. </p>
<p>[C43] A. Abdullah, F. Gebali and L. Cai, "Modeling the Throughput and Delay in Wireless Multihop Ad-Hoc Networks," IEEE Globecom 2009, Dec. 2009, Hawaii, USA.    </p>
<p>[C42] L. X. Cai, H. Hwang, X. Shen, J. Mark and L. Cai, "Optimizing Geographic Routing for Millimeter-wave Wireless Networks with Directional Antenna," (invited paper), Broadnets'09, Sept. 2009, Madrid, Spain.</p>
<p>[C41] R. Zhang and L. Cai, "Markov modeling for data block transmission of OFDM systems over fading channels," IEEE ICC'09, June 2009, Dresden, Germany. </p>
<p>[C40] Y. Yu, M. Lu, J. Pan, L. Cai, and D. Hoffman, "Evaluating No-New-Wires Home Networks," <i>3rd IEEE LCN Workshop on Network Measurements (WNM) </i>, October 14-17 , 2008, Montreal, Canada. </p>
<p>[C39] R. Zhang and L. Cai, "Analysis of Delayed Acknowledgment Scheme with Packet Fragmentation of UWB-based WPAN," <i>IEEE Globecom'08</i>, New Orleans, LA, USA, Nov./Dec. 2008. </p>
<p>[C38] M. Cheng, X. Gong, and L. Cai, "Link Rate Allocation under Bandwidth and Energy Constraints in Sensor Networks," <i>IEEE Globecom'08</i>, New Orleans, LA, USA, Nov./Dec. 2008. </p>
<p>[C37] F. Wan, L. Cai, and A. Gulliver, "A Simple, Two-Level Markovian Traffic Model for IPTV Video Sources," <i>IEEE Globecom'08</i>, New Orleans, LA, USA, Nov./Dec. 2008.</p>
<p>[C36] E. Shihab, L. Cai, and J. Pan, "A Distributed Directional-to-Directional MAC Protocol for Asynchronous Ad Hoc Networks," <i>IEEE Globecom'08</i>, New Orleans, LA, USA, Nov. /Dec. 2008. </p>
<p>[C35] R. Zhang and L. Cai, “Analyzing Adaptive Modulation Coding Jointly With DRP and Dly-ACK for UWB-based WPAN,” IEEE Globecom'08, New Orleans, LA, USA, Nov./Dec. 2008. </p>
<p>[C34] M. Cheng, X. Gong, L. Cai, and A. Abdullah, “Transmission Scheduling for CBR Traffic in Multihop Wireless Networks,” International Conference on Wireless Algorithms, Systems and Applications (WASA'08), Dallas, TX, USA, Oct. 2008.</p>
<p>[C33] L. X. Cai, X. Shen, L. Cai, and J. W. Mark, “A Concurrent Scheduling Scheme for IPTV over mmWave-based WPANs” Proc. ICST QShine'08, Hongkong, China, July 2008.</p>
<p>[C32] L.Wang, L. Cai, X. Liu, and X. Shen, “Practical Stability and Bounds of Heterogeneous AIMD/RED System with Time Delay,” Proc. IEEE ICC’08, Beijing, China, May 2008. (received the IEEE ICC'08 - Advances in Networks and Internet Symposium Best Paper Award)[<a href="http://www.ece.uvic.ca/~cai/bounds-of-tcp-icc08.pdf">PDF</a>]</p>
<p>[C31] K. Liu, X. Shen, R. Zhang, and L. Cai, “Delay Analysis of Distributed Reservation Protocol with UWB Shadowing Channel for WPAN,” Proc. IEEE ICC’08, Beijing, China, May 2008.</p>
<p>[C30] F. Wan, L. Cai, A. Gulliver, “Can We Multiplex IPTV and TCP?” Proc. IEEE ICC’08, Beijing, China, May 2008.</p>
<p>[C29] L. X. Cai, L. Cai, X. Shen, and J. W. Mark, “Optimizing Distributed MAC Protocol for Ultra-wide Band Wireless Networks,” Proc. IEEE Infocom’08, Phoenix, AZ, USA, April 2008. </p>
<p>[C28] R. Zhang and L. Cai, “Packet-level channel model for wireless OFDM systems,” <i>Proc. IEEE Globecom'07</i>, Washington, DC, Nov./Dec. 2007. </p>
<p>[C27] E. Shihab, F. Wan, L. Cai, A. Gulliver, and N. Tin, “Performance analysis of IPTV in home networks,” <i>Proc. IEEE Globecom'07</i>, Washington, DC, Nov./Dec. 2007. </p>
<p>[C26] L. Wang, L. Cai, X. Liu, and X. Shen, “Stability and Fairness Analysis of AIMD/RED System with Heterogeneous Delays,” <i>Proc. IEEE Globecom'07</i>, Washington, DC, Nov./Dec. 2007. </p>
<p>[C25] L. X. Cai, X. Shen, L. Cai, and J. W. Mark, “Spatial Multiplexing Capacity Analysis of mmWave WPANs with Directional Antennae,” <i>Proc. IEEE Globecom'07</i>, Washington, DC, Nov./Dec. 2007. </p>
<p>[C24] R. Zhang and L. Cai, "Modeling UWB Indoor Channel with Shadowing Processes," (work-in-progress), Proc. QShine'07, Vancouver, BC, Canada, August 2007. [<a href="http://www.ece.uvic.ca/~cai/QShine07.pdf">PDF</a>]</p>
<p>[C23] L. X. Cai, X. Shen, L. Cai, and J. W. Mark, “Spatial multiplexing capacity analysis for three-dimensional wireless personal area networks,” Proc. Chinacom'07, Shanghai, China, August 2007. </p>
<p>[C22]  V. Mahinthan, L. Cai, J. W. Mark, and X. Shen, "Optimizing Power Allocation and Matching of Cooperative Diversity Systems," Proc. IEEE ICC'07, Glasgow, U.K., June 2007.</p>
<p>[C21] L. X. Cai,  L. Cai, X. Shen, and J. W. Mark, ``Efficient Resource Management for mmWave WPANs,''  Proc. IEEE Wireless Communications and Networking Conference (WCNC'07), Hong Kong, Mar. 2007.</p>
</p>
<p>[C20] E. Shihab and  L. Cai, "IPTV Distribution Technologies in Broadband Home Networks," Proc. IEEE Canadian Conference on Electrical and Computer Engineering, Vancouver, BC, Canada, April 2007.</p>
<p>[C19] K. Liu, L. Cai, and X. Shen, "Effective Scheduling for UWB Networks using Discrete Stochastic Optimization," Proc. IEEE Consumer Communications and Networking Conference (CCNC), Las Vegas, NV, USA, Jan. 11-13, 2007.</p>
<p>[C18] K. Liu, L. Cai, and X. Shen, "Performance Enhancement of Medium Access Control for UWB WPAN", Proc. Globecom'06, San Francisco, CA, USA, Nov. 27--Dec. 1, 2006.</p>
<p>[C17] S. Pack, H. Rutagemwa, X. Shen, J. Mark, and L. Cai, "An Analytical Framework for Studying the Performance of Mobile Hotspots", Proc. Globecom'06, San Francisco, CA, USA, Nov. 27--Dec. 1, 2006.</p>
<p>[C16] L. X. Cai, L. Cai, X. Shen, and J. W. Mark, Capacity of UWB Networks Supporting Multimedia Services, Proc. QShine'06, Waterloo, ON, Canada, Aug. 7--9, 2006. </p>
<p>[C15] M. Veluppillai, L. Cai, X. Shen, and J. W. Mark,  Matching algorithms for infrastructure-based wireless networks employing cooperative diversity system, Proc. IEEE WCNC'06,  Las Vegas, NV, USA, April 3--6, 2006.</p>
<p>[C14] L. Cai, J. Pan, and X. Shen, Vulnerability analysis of IP traceback schemes, Proc. IEEE Globecom'05, St. Louis, MO,  USA, Nov. 28--Dec. 2, 2005.</p>
<p>[C13] L. Cai, X. Shen, J. W. Mark, L. Cai, and Y. Xiao,  Voice capacity analysis of WLAN with unbalanced traffic, the Second International Conference on Quality of Service in Heterogeneous Wired/Wireless Networks (QShine), Orlando, Florida, USA,  Aug. 22--24, 2005.</p>
<p>[C12] L. Cai, J. Pan, X. Shen, and J. W. Mark, Collaborating selfish peers in wireless ad hoc networks, Proc. IFIP Networking'05, Waterloo, ON, Canada, May 2--6, 2005. [<a href="http://www.ece.uvic.ca/~cai/ifip05.pdf"> PDF </a>] </p>
<p>[C11] L. Cai, X. Shen, J. W. Mark, and J. Pan, "A QoS-aware AIMD protocol for time-sensitive applications in wireless/wired networks," <i>Proc. IEEE Infocom'05</i>, Miami, Florida, March 13--17, 2005. [<a href="http://www.ece.uvic.ca/~cai/info05.pdf">PDF</a>]</p>
<p>[C10] H. Shen,  L. Cai, and X. Shen, "Performance analysis of equation based TFRC over wireless links with link level ARQ," <i>Proc. IEEE Globecom'04</i>,  vol.3, pp. 1681-1685, Dallas, Texas, Nov. 29--Dec. 3, 2004.</p>
<p>[C9] F. M. Shao, X. Shen, L. Cai, and L. C. Zhao, "Lifetime optimization of wireless sensor networks subject to reliability constraint," <i>Proc. 2004 Global Mobile Congress</i>, pp. 354-359, Shanghai, China, Oct. 11--13, 2004.</p>
<p>[C8] L. Cai, J. Pan, and X. Shen, Exploiting distance indexed IP traceback schemes, <i>ACM Sigcomm'04 (poster)</i> , Portland, Oregon, USA, Aug. 30 --Sept. 3, 2004.</p>
<p>[C7] L. Cai, X. Shen, and J. W. Mark,  Delay analysis for AIMD flows in wireless/IP networks, <i>Proc. IEEE Globecom'03</i>, vol. 6, pp. 3221--3225, San Francisco, California, USA, Dec. 1--5, 2003.</p>
<p>[C6] J. Pan, Y. Hou, L. Cai, Y. Shi, and X. Shen,  Locating base stations for video sensor networks,  <i>Proc. IEEE Semiannual Vehicular Technology Conference (VTC'03)</i>, Orlando, Florida, USA, Oct. 4--9, 2003.</p>
<p>[C5] J. Pan, Y. Hou, L. Cai, Y. Shi, and X. Shen,  Topology control for wireless sensor networks,  <i>Proc. ACM Int'l Conf. on Mobile Comp. and Netw. (MobiCom'03)</i>, pp. 286--299, San Diego, California, USA, Sept. 14--19, 2003. [<a href="http://www.ece.uvic.ca/~cai/mobicom03.pdf">PDF</a>]</p>
<p>[C4] L. Cai, X. Shen, and J. W. Mark,  AIMD congestion control for variable packet size flows, <i>Proc. 2003 World Wireless Congress</i>, San Francisco, California, USA, May 27--30, 2003.</p>
<p>[C3] L. Cai, G. Gong, X. Shen, and J. W. Mark,  Searching of A5/1 keystream periods, <i>Proc. 2003 Canadian Workshop on Information Theory</i>, pp. 79--82, Waterloo, Ontario, Canada, May 18--21, 2003.</p>
<p>[C2] L. Cai, X. Shen, and J. W. Mark,  Congestion control for web-based multimedia playback applications, <i>Proc. IEEE ICC'03</i>, vol. 1, pp. 562 566, Anchorage, Alaska, USA, May 11--15, 2003.</p>
<p>[C1] L. Cai, X. Shen, and J. W. Mark,  TCP-friendly AIMD congestion control protocol supporting heterogeneous traffic, <i>Proc. Int'l Conf. on 3G Wireless and Beyond</i>, pp. 281--286, San Francisco, California, USA, May 28--31, 2002.</p>
<p><strong>Book Chapters</strong></p>
<p>[BC3]  L. X. Cai, L. Cai, X. Shen, and J. W. Mark, ``Resource Management for mmWave based WPANs with Directional Antenna,'' in H.~Wu Ed. Medium Access Control in Wireless Networks, 2007.</p>
<p>[BC2] J. Pan, L. Cai, and X. Shen, Promoting identity-based key management in wireless ad hoc networks, Editeds Y. Xiao, X. Shen, andD. Z. Du, Wireless/Mobile Network Security,  Springer 2006. </p>
<p>[BC1] L. Cai, J. Ye, J. Pan, X. Shen, and J. Mark,  Fuzzy inference based server selection in content distribution networks,  pp. 77-100, Editors Y. Zhang, A. Kandel, T. Lin and Y. Yao,  <i>Computational Web Intelligence: Intelligent Technology for Web Applications</i>, World Scientific, 2004. (ISBN 981-238-827-3)</p>
<p><strong>Technical Reports</strong></p>
<p>[T5] L. Wang, L. Cai, X. Liu, and X. Shen, Boundedness of AIMD/RED System with Time Delays, Dept. of E&amp;CE, Tech. Rep.,  July 2007.  [<a href="http://www.ece.uvic.ca/~cai/tech2007.pdf">PDF</a>]</p>
<p>[T4] L. Wang, L. Cai, X. Liu, and X. Shen, AIMD Congestion Control: Stability, TCP-friendliness, Delay Performance, Tech. Rep., Mar. 2006. [<a href="http://www.ece.uvic.ca/~cai/tech-2006.pdf">PDF</a>]</p>
<p>[T3] L. Cai, J. Pan, X. Shen, and J. W. Mark,  Promoting identity-based key management in wireless ad hoc network, University of Waterloo, <i>E&amp;CE Tech. Rep</i>., Oct. 2004.</p>
<p>[T2] L. Cai, X. Shen, J. W. Mark, and J. Pan,  Performance analysis of AIMD-controlled multimedia flows in wireless/IP networks, University of Waterloo, <i>E&amp;CE Tech. Rep.</i>,  May  2004.</p>
<p>[T1] L. Cai, X. Shen, J. W. Mark, and J. Pan, QoS support for multimedia traffic in wireless/IP networks using AIMD protocols, University of Waterloo, <i>E&amp;CE Tech. Rep.</i>, May 2004. </p>
<p><a href="http://www.ece.uvic.ca/~cai/copyright.html">Copyright Notice</a></p>
</div>
</div>
</div>