---
title: People
date: 2015-11-17 01:00:51
layout: page
---
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">

	<div class="col-md-3">
	    <div class="thumbnail">
              <img src='../metronic/assets/pages/img/people/img2-large.jpg'>
       </div>
    </div>
    <div class="col-md-9">
	      <h3>
		<strong>Dr. Lin Cai</strong> 
		<small>Lab Leader</small>
	      </h3>
	      <p>Dr. Lin Cai is the group leader. Lin Cai received the M.A.Sc. and Ph.D. degrees (with Outstanding Achievement in Graduate Studies Award) in electrical and computer engineering from the University of Waterloo, Waterloo, Canada, in 2002 and 2005, respectively. Since July 2005, she has been an Assistant Professor in the Department of Electrical and Computer Engineering at the University of Victoria, British Columbia, Canada.</p>
	</div>

  <!-- BEGIN CONTENT -->
  <div class="col-md-12 col-sm-12">
    <div class="content-page">
      <div class="row margin-bottom-30">
      <div class="row front-team">
	<ul class="list-unstyled">
	  
	  <li class="col-md-3">
	    <div class="thumbnail">
              <img src='../metronic/assets/pages/img/people/img1-large.jpg'>
	      <h3>
		<strong>Carles Puyol</strong> 
		<small>Chief Executive Officer / CEO</small>
	      </h3>
	      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>

	    </div>
	  </li>
	  <li class="col-md-3">
	    <div class="thumbnail">
              <img src='../metronic/assets/pages/img/people/img3-large.jpg'>
	      <h3>
		<strong>Andres Iniesta</strong> 
		<small>Chief Executive Officer / CEO</small>
	      </h3>
	      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
	    </div>
	  </li>
	  <li class="col-md-3">
	    <div class="thumbnail">
              <img src='../metronic/assets/pages/img/people/img5-large.jpg'>
	      <h3>
		<strong>Jessica Alba</strong> 
		<small>Chief Executive Officer / CEO</small>
	      </h3>
	      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
	    </div>
	  </li>
	</ul>            
      </div>

    </div>
  </div>
  <div><strong>Visiting Scholars<br /></strong>
<ul>
<li><span><a href="http://www.sensornet.cn/jianpinghe/">Dr. Jianping He</a> (Zhejiang University)</span></li>
<li><span>Dr. Xiaoheng Deng (Central South University)</span></li>
<li><span>Dr. Hang Liu (Northwestern Polytechnical University)</span></li>
<li><span>Dr. Yanling Xu (Tongji University)</span></li>
</ul>
</div>
<div><strong>Recent Alumni</strong></div>
<div>
<ul>
<li>Min Xing (Ph.D 2015, employed by Fortinet)</li>
<li><a href="http://web.uvic.ca/~kzhou/">Kan Zhou</a> (Ph.D 2015, employed by Fortinet)</li>
<li>Lei Zheng (Ph. D 2014, employed by Ericsson)</li>
<li>Xuan Wang (Ph. D 2014, employed by Ericsson)</li>
<li>Siyuan Xiang (Ph.D 2013, employed by Fortinet)</li>
<li>Yuanqian Luo (Ph.D 2013, employed by Alcatel Lucent)</li>
<li>Zhe Yang (Ph.D 2013, now an Associate Professor at Northwestern Polytechnical University, Xi'an, China)<br /><a href="http://cn.ece.uvic.ca/people.html#yang"></a></li>
<li>Vivek Tiwari (M.A.Sc 2012, now working at Vineyard Networks)</li>
<li>Ahmad Ali Abdullah (Ph.D 2011, now working at Systems Xcellence Inc.)</li>
<li>Bojiang Ma (M.A.Sc 2011, now Ph.D student at University of British Columbia)</li>
<li>Ivan Zhang (Ph.D 2010, now Associate Professor at Northwestern Polytechnical University, Xi'an, China)</li>
<li>Haoling Ma (M.A.Sc 2010)</li>
<li>Emad Shihab (M.A.Sc 2008, now Assistant Professor at Rochester Institute of Technology, USA)</li>
<li>Fengdan Wan (M.A.Sc 2008)</li>
</ul>
</div>
  <!-- END CONTENT -->
</div>
<!-- END SIDEBAR & CONTENT -->
