---
layout: index
---
<div class="container-fluid flush-with-header">
  <div class="row margin-bottom-40 row-corporate">
    <div class="container">
      <div class="col-md-6">
      <img src="/metronic/assets/pages/img/frontend-slider/cnlab.png">
      </div>
      <div class="col-md-6 row-corporate-text-container">
	
      </div>

    </div>
  </div>
</div>

<div class="container">

<div class="row margin-bottom-30">
	 

	<!-- BEGIN CAROUSEL -->            
	<div class="col-md-7 front-carousel">
	  <div id="myCarousel" class="carousel slide">
	    <!-- Carousel items -->
	    <div class="carousel-inner">
	      <div class="item active">
                <img src='../metronic/assets/pages/img/home-picture/img1.jpg'>
		<div class="carousel-caption">
		  <p>Graduation Ceremony of 2015 Summer</p>
		</div>
	      </div>
	      <div class="item">
                <img src='../metronic/assets/pages/img/home-picture/img2.jpg'>
		<div class="carousel-caption">
		  <p>Group Picture</p>
		</div>
	      </div>
	      <div class="item">
                <img src='../metronic/assets/pages/img/home-picture/img3.jpg'>
		<div class="carousel-caption">
		  <p>Group Picture</p>
		</div>
	      </div>
	    </div>
	    <!-- Carousel nav -->
	    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
	      <i class="fa fa-angle-left"></i>
	    </a>
	    <a class="carousel-control right" href="#myCarousel" data-slide="next">
	      <i class="fa fa-angle-right"></i>
	    </a>
	  </div>                
	</div>
	<!-- END CAROUSEL -->

	<!-- BEGIN INFO BLOCK -->               
	<div class="col-md-5">
	  <h3 class="no-top-space"><b>Communication Networks Lab</b></h3>
	  <p>Welcome to the <b>Communication Networks Lab</b> at UVic! Our group is active in the area of Computer Communications Networking, with special interests in network protocol and architecture design supporting emerging multimedia traffic over wired/wireless, mobile, ad hoc, and sensor networks. For an overview, please visit our research page. In addition, we have a strong presence here at UVic, with collaborators in other departments and Universities.</p>
	  <!-- BEGIN LISTS -->

 

	  <div class="row front-lists-v1">
	    <div class="col-md-12">
	      <ul class="list-unstyled margin-bottom-20">
		<li><i class="fa fa-check"></i>Wireless/wireline interworking</li>
		<li><i class="fa fa-check"></i>Medium access control</li>
		<li><i class="fa fa-check"></i>Resource and mobility management</li>
		<li><i class="fa fa-check"></i>Cooperative diversity systems and cognitive radio networks</li>
		<li><i class="fa fa-check"></i>Smart Grid </li>
		<li><i class="fa fa-check"></i>Vehicular communication networks </li>
	      </ul>
	    </div>
	  </div>
	  <!-- END LISTS -->
	</div>
	<!-- END INFO BLOCK -->  

      </div>
      <hr>
</div>
